<div class="container">
  <h1>{{ recruit.title }}</h1>
  <h3>{{ recruit.team.name }}</h3>
  <div class="row">
    <div class="col-md-12">
      <div>
        <span *ngFor="let type of recruit.team.types" class="badge">
          {{type.name}}
        </span>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-md-11">
          <p>練習場所:{{ recruit.practicePlace}}</p>
          <p>練習時間:{{ recruit.practiceTime}}</p>
          <p>連絡先:{{ recruit.team.mail }}</p>
          <p>URL:<a href="{{ recruit.team.url }}">{{ recruit.team.url }}"</a></p>
          <p>募集楽器:</p>
          <div class="col-sm-offset-1">
            <app-instruments [instruments]="recruit.instruments"></app-instruments>
          </div>
          <p class="sbt-message-content">{{ recruit.description }}</p>
        </div>
      </div>
      <form (ngSubmit)="moveEditRecruitButtonClickHander()">
        <div class="form-group" *ngIf="!isLoggedIn">
          <input type="password" class="form-control input-lg" id="inputPassword" name="password" [(ngModel)]="password"
              placeholder="Password">
        </div>
        <div class="form-group mb-0">
          <button type="submit" class="btn btn-primary btn-block py-1 mb-1">
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            団員募集を編集する
          </button>
          <div class="alert alert-danger mt-1" *ngIf="canShowflushMessage">
            <small>パスワードの入力に誤りがあります</small>
          </div>
        </div>
      </form>
    </div>
  </div>
  <a [routerLink]="['../']">団員募集に戻る</a>
</div>
