<div class="container">
  <h1>{{ recruit.team.name }}</h1>

  <div class="row">
    <div class="col-md-12">
      <div>
        <span *ngFor="let type of recruit.team.types" class="badge">
          {{type.name}}
        </span>
      </div>
      <div class="row">
        <div class="col-sm-offset-1 col-md-11">
          <p>練習場所:{{ recruit.practicePlace}}</p>
          <p>練習時間:{{ recruit.practiceTime}}</p>
          <p>連絡先:{{ recruit.team.mail }}</p>
          <p>URL:<a href="{{ recruit.team.url }}"></a></p>
          <p>募集楽器:</p>
          <div class="col-sm-offset-1" *ngFor="let instrument of recruit.instruments">
            {{ instrument.instrumentCategory.name }}:
            <span class="badge">{{ instrument.name }}</span>
            <span class="badge">2stヴァイオリン</span>
            <span class="badge">ヴィオラ</span>
            <span class="badge">チェロ</span>
            <span class="badge">コントラバス</span>
          </div>
          <p>ふぇえええ</p>
        </div>
      </div>
    </div>
  </div>

  <a [routerLink]="['../']">団員募集に戻る</a>
</div>
