<h1>団員募集</h1>

<div *ngFor="let recruit of recruits" class="panel panel-info">
  <!-- [TODO] publishFrom, publishTo の中に含まれる場合のみ表示する -->
  <div class="panel-heading">{{recruit.title}}</div>
  <div class="panel-body">
    <div>
      <label *ngFor="let type of recruit.team.types" class="label label-info">
        {{type.name}}
      </label>
    </div>
    <div>{{recruit.team.name}}</div>
    <div>練習場所:{{recruit.practicePlace}}</div>
    <div>練習時間:{{recruit.practiceTime}}</div>
    <div>募集楽器:
      <div *ngFor="let ic of appService.instrumentCategories">
        <div *ngIf="isExistCategoryFrom(recruit.instruments, ic)">
          <span>{{ic.name}}</span>
          <span *ngFor="let instrument of filteredInsturmentsByCategory(recruit.instruments, ic)">
            <span *ngIf="instrument.instrumentCategory.id === ic.id"
              class="badge badge-default">
              {{instrument.shortName}}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


{{recruits.length}}件の募集があります
<a [routerLink]="['./new']">新しく団員募集する</a>
