<!-- TODO エラーあったら flash message を出す -->
<form #f="ngForm">

  <div class="field">
    <label>タイトル</label>
    <input class="form-control" placeholder="はるの大演奏会" [(ngModel)]="concert.title" name="title">
  </div>

  <div class="field">
    <label>詳細</label>
    <textarea class="form-control" placeholder="はるの大演奏会は毎年４月に演奏が行われる定期の演奏会です。始まりは古く、昭和６０年・・・" 
      [(ngModel)]="concert.description" rows="5" name="description"></textarea>
  </div>

  <ng-container *ngIf="concert?.team != null && concert.team.id == null">
    <app-team-form [team]="concert.team"></app-team-form>
  </ng-container>


  <div class="field">
    <label>開催日</label>
    <!-- TODO スタイル調整 １行表示にするとか -->
    <input type="text" class="form-control" [(ngModel)]="concert.date" (bsValueChange)="dateChangeHandler($event)"
      rows="2" name="date" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
  </div>

  <div class="field">
    <label>開場時間</label>
    <!-- TODO スタイル調整 １行表示にするとか -->
    <input type="text" class="form-control" [(ngModel)]="concert.doorsOpen" rows="2" name="doors-open"
      bsDatepicker
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
    <timepicker [showMeridian]="false" [(ngModel)]="concert.doorsOpen" name="doors-open-time"></timepicker>
  </div>

  <div class="field">
    <label>開演時間</label>
    <!-- TODO スタイル調整 １行表示にするとか -->
    <input type="text" class="form-control" [(ngModel)]="concert.cirtainTime" rows="2" name="cirtain-time"
      bsDatepicker
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
    <timepicker [showMeridian]="false" [(ngModel)]="concert.cirtainTime" name="cirtain-time-time"></timepicker>
  </div>
</form>
