<!-- TODO エラーあったら flash message を出す -->
<form #f="ngForm">

  <div class="field">
    <label>タイトル</label>
    <input class="form-control" placeholder="はるの大演奏会" [(ngModel)]="concert.title" name="title">
  </div>

  <div class="field">
    <label>詳細</label>
    <textarea class="form-control" placeholder="はるの大演奏会は毎年４月に演奏が行われる定期の演奏会です。始まりは古く、昭和６０年・・・"
      [(ngModel)]="concert.description" rows="5" name="description"></textarea>
  </div>

  <div class="field">
    <label class="d-block">会場</label>
    <select [compareWith]="compareFunc" [(ngModel)]="concert.hole" name="hole">
      <option value="" disabled>未選択</option>
      <option *ngFor="let hole of appService.holes" [ngValue]="hole">{{hole.name}}</option>
    </select>
  </div>

  <div class="field">
    <label>開催日</label>
    <!-- TODO スタイル調整 １行表示にするとか -->
    <input type="text" class="form-control" [(ngModel)]="concert.date" (bsValueChange)="dateChangeHandler($event)"
      rows="2" name="date" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" autocomplete="off">
  </div>

  <div class="field">
    <label>開場時間</label>
    <timepicker [showMeridian]="false" [(ngModel)]="concert.doorsOpen" name="doors-open-time"></timepicker>
  </div>

  <div class="field">
    <label>開演時間</label>
    <timepicker [showMeridian]="false" [(ngModel)]="concert.cirtainTime" name="cirtain-time-time"></timepicker>
  </div>
</form>

<div class="field">
  <label class="d-block">指揮者</label>
  <ng-container *ngFor="let conductor of concert.conductors; index as i">
    <select (change)="conductorSelectHandler($event.target.value, i)">
      <option value="" disabled>未選択</option>
      <option *ngFor="let selectobleConductor of appService.conductors" [value]="selectobleConductor.id" [selected]="selectobleConductor.id === conductor.id">{{selectobleConductor.name}}</option>
    </select>
  </ng-container>
  <span class="btn btn-primary" (click)="addConductorHandler()">指揮者追加</span>
</div>
{{concert.conductors[0].name}}
