<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Schubert とは</h1>
      シューベルトという作曲家はその友達思いの性格も合間って<br>
      彼の周りにはいつも多くの音楽家がいた。<br>
      そんなようないつも音楽家が集まれるような<br>
      アマチュア向け団員募集サービスです。
    </div>
    <div class="col-md-6 free-word-search">
      <div class="form-group">
        <label class="col-sm-4">フリーワード検索</label>
        <div class="col-sm-8">
          <input type="text" name="free-words" [(ngModel)]="condition.freeWords" class="form-control" placeholder="TBD スペース区切りで複数キーワード検索できます">
        </div>
      </div>
      <div class="text-center mt-3">
        <button type="button" class="btn btn-default btn-lg m-3" (click)="searchRecruitBtnClickHandler()">団員募集検索(TBD)</button>
        <button type="button" class="btn btn-default btn-lg m-3" (click)="searchConcertBtnClickHandler()">演奏会検索(TBD)</button>
      </div>
    </div>
  </div>

  <div *ngFor="let canonicalRoute of canonicalRoutesForTop">
    <a [routerLink]="['./recruits/cr', canonicalRoute.canonicalModelName, canonicalRoute.canonicalId]">{{canonicalRoute.label}}の募集</a>
  </div>
</div>
