<div *ngIf="team.isPublished; else elseBlock">
  <div>{{team.name}}</div>
  <div>
    <span *ngFor="let type of team.types" class="badge badge-default">{{type.name}}</span>
  </div>
  <div>
    <span *ngFor="let region of team.regions" class="badge badge-default">{{region.name}}</span>
  </div>
  <div>
    <div class="col-sm-offset-1 col-md-11">
      <div>連絡先:{{team.mail}}</div>
      <div>URL:{{team.url}}</div>
      <div>{{team.description}}</div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
<div>この団体は非公開です</div>
</ng-template>

<form (ngSubmit)="editTeamButtonClickHander()">
  <div class="form-group">
    <input type="password" class="form-control input-lg" id="inputPassword" name="password" [(ngModel)]="password"
        placeholder="Password">
  </div>
  <div class="form-group m-b-0">
    <button type="submit" class="btn btn-primary btn-block p-y-1 m-b-1">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      団体編集
    </button>
    <div class="alert alert-danger m-t-1" *ngIf="canShowflushMessage">
      <small>ユーザ名、パスワードの入力に誤りがあるか登録されていません。</small>
    </div>
  </div>
</form>

<div><a [routerLink]="['../']">チーム一覧</a></div>
