<div *ngIf="team.isPublished; else elseBlock">
  <div>{{team.name}}</div>
  <div>
    <span *ngFor="let type of team.types" class="badge badge-default">{{type.name}}</span>
  </div>
  <div>
    <span *ngFor="let region of team.regions" class="badge badge-default">{{region.name}}</span>
  </div>
  <div>
    <div class="col-sm-offset-1 col-md-11">
      <div>連絡先:{{team.mail}}</div>
      <div>URL:{{team.url}}</div>
      <div class="sbt-message-content">{{team.description}}</div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
<div>この団体は非公開です</div>
</ng-template>

<form (ngSubmit)="moveAdminTeamButtonClickHander()">
  <div class="form-group" *ngIf="!isLoggedIn">
    <input type="password" class="form-control input-lg" id="inputPassword" name="password" [(ngModel)]="password"
        placeholder="Password">
  </div>
  <div class="form-group mb-0">
    <button type="submit" class="btn btn-primary btn-block py-1 mb-1">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      団体管理画面へ
    </button>
    <div class="alert alert-danger mt-1" *ngIf="canShowflushMessage">
      <small>パスワードの入力に誤りがあります</small>
    </div>
  </div>
</form>

<div><a [routerLink]="['../']">チーム一覧</a></div>
