<div class="field">
  <label>団体名</label>
  <input class="form-control" placeholder="シューベルト管弦楽団" [(ngModel)]="team.name" rows="2" name="name">
</div>
<div class="field" *ngIf="team.id == null">
  <label>password</label>
  <input type="password" class="form-control" [(ngModel)]="team.password" rows="2" name="password">
</div>
<div class="field">
  <label>団体種別</label>
  <ng-select [multiple]="true"
    [items]="appService.ng2selectTypes"
    (selected)="typeSelected($event)"
    (removed)="typeRemoved($event)"
    [active]="appService.ng2selectConverter(team.types)"
    placeholder="団体種別を選択してください">
  </ng-select>
</div>
<div class="field">
  <label>活動地域</label>
  <ng-select [multiple]="true"
    [items]="appService.ng2selectRegions"
    (selected)="regionSelected($event)"
    (removed)="regionRemoved($event)"
    [active]="appService.ng2selectConverter(team.regions)"
    placeholder="活動地域を選択してください">
  </ng-select>
</div>
<div class="field">
  <label>連絡用メールアドレス</label>
  <input class="form-control" placeholder="info@schubert.jp" [(ngModel)]="team.mail" rows="2" name="mail">
</div>
<div class="field">
  <label>団体ホームメージ</label>
  <input class="form-control" placeholder="https://schubert.jp" [(ngModel)]="team.url" rows="2" name="url">
</div>
<div class="field" *ngIf="team.id != null">
  <label>自由欄</label>
  <textarea class="form-control" placeholder="主にシューベルトの曲をやる団体です" [(ngModel)]="team.description" rows="5" name="description"></textarea>
</div>
<div class="field">
  <label>団体一覧掲載 ※チェックを付けると団体一覧に掲載され、一般公開されます</label>
  <input class="form-control" type="checkbox" [(ngModel)]="team.isPublished" name="is-published">
</div>
