<div class="container">
  <div class="row">
  <h1>団員募集編集</h1>
  <a *ngIf="recruit?.team != null && recruit.team.id != null && recruit.team.isPublished" [routerLink]="['/teams', recruit.team.id, 'edit']">団体情報を編集する</a>

  <app-recruit-form [recruit]="recruit" [concerts]="concerts"></app-recruit-form>


  <div class="actions">
    <button (click)="editRecruitButtonClickHander()">団員募集を保存する</button>
  </div>

  <!-- 募集詳細画面へのリンク -->
  <a [routerLink]="['/recruits', recruit.id]">団員募集詳細に戻る</a>
  </div>
</div>
