<!-- TODO エラーあったら flash message を出す -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div class="field">
    <label>募集タイトル</label>
    <input class="form-control" placeholder="一緒にオーケストラで弾いてくれる弦楽器大募集！" [(ngModel)]="recruit.title" rows="2" name="title">
  </div>
  <ng-container *ngIf="team?.id == null">
    <div class="field">
      <label>団体名</label>
      <input class="form-control" placeholder="シューベルト管弦楽団" [(ngModel)]="team.name" rows="2" name="name">
    </div>
    <div class="field">
      <label>password</label>
      <input type="password" class="form-control" [(ngModel)]="team.password" rows="2" name="password">
    </div>
    <div class="field">
      <label>団体種別</label>
      <!-- <%= t.select :type_ids, Type.all.map {|t| [t.name, t.id]}, {}, multiple: true, class: 'form-control select2' %> -->
    </div>
    <div class="field">
      <label>活動地域</label>
      <!-- <%= t.select :region_ids, Region.all.map {|r| [r.name, r.id]}, {}, multiple: true, class: 'form-control select2' %> -->
    </div>
    <div class="field">
      <label>連絡用メールアドレス</label>
      <input class="form-control" placeholder="info@schubert.jp" [(ngModel)]="team.mail" rows="2" name="mail">
    </div>
    <div class="field">
      <label>団体ホームメージ</label>
      <input class="form-control" placeholder="https://schubert.jp" [(ngModel)]="team.url" rows="2" name="url">
    </div>
  </ng-container>
  <div class="field">
    <label>練習場所</label>
    <input class="form-control" placeholder="江東区、豊島区の公共施設" [(ngModel)]="recruit.practicePlace" rows="2" name="practice-place">
  </div>

  <div class="field">
    <label>練習時間</label>
    <input class="form-control" placeholder="日曜午前中心、本番前は午前午後" [(ngModel)]="recruit.practiceTime" rows="2" name="practice-time">
  </div>

  <div class="field">
    <label>募集楽器</label>
    <!-- <%= f.select :instrument_ids, Instrument.all.map {|i| [i.to_name_and_short_name, i.id]}, {}, multiple: true, class: 'form-control select2' %> -->
  </div>

  <div class="field">
    <label>自由欄</label>
    <textarea class="form-control" placeholder="一緒にシューベルトの曲をやりませんか？" [(ngModel)]="recruit.description" rows="5" name="description"></textarea>
  </div>

  <div class="field">
    <label>掲載開始期間</label>
    <!-- いい感じの日付選択にする -->
    <input type="date" class="form-control" [(ngModel)]="recruit.publishedFrom" rows="2" name="published-from">
    {{recruit.publishedFrom | date: 'y-MM-dd'}}
  </div>

  <div class="field">
    <label>掲載終了期間</label>
    <input type="date" class="form-control" [(ngModel)]="recruit.publishedTo" rows="2" name="published-to">
  </div>

  <div class="actions">
    <button>Submit</button>
  </div>

</form>
