<!-- TODO エラーあったら flash message を出す -->
<form #f="ngForm">

  <div class="field">
    <label>募集タイトル</label>
    <input class="form-control" placeholder="一緒にオーケストラで弾いてくれる弦楽器大募集！" [(ngModel)]="recruit.title" rows="2" name="title">
  </div>
  <ng-container *ngIf="recruit?.team?.id == null">
    <div class="field">
      <label>団体名</label>
      <input class="form-control" placeholder="シューベルト管弦楽団" [(ngModel)]="recruit.team.name" rows="2" name="name">
    </div>
    <div class="field">
      <label>password</label>
      <input type="password" class="form-control" [(ngModel)]="recruit.team.password" rows="2" name="password">
    </div>
    <div class="field">
      <label>団体種別</label>
      <ng-select [multiple]="true"
        [items]="appService.ng2selectTypes"
        (selected)="typeSelected($event)"
        (removed)="typeRemoved($event)"
        placeholder="団体種別を選択してください">
      </ng-select>
    </div>
    <div class="field">
      <label>活動地域</label>
      <ng-select [multiple]="true"
        [items]="appService.ng2selectRegions"
        (selected)="regionSelected($event)"
        (removed)="regionRemoved($event)"
        placeholder="活動地域を選択してください">
      </ng-select>
    </div>
    <div class="field">
      <label>連絡用メールアドレス</label>
      <input class="form-control" placeholder="info@schubert.jp" [(ngModel)]="recruit.team.mail" rows="2" name="mail">
    </div>
    <div class="field">
      <label>団体ホームメージ</label>
      <input class="form-control" placeholder="https://schubert.jp" [(ngModel)]="recruit.team.url" rows="2" name="url">
    </div>
  </ng-container>
  <div class="field">
    <label>練習場所</label>
    <input class="form-control" placeholder="江東区、豊島区の公共施設" [(ngModel)]="recruit.practicePlace" rows="2" name="practice-place">
  </div>

  <div class="field">
    <label>練習時間</label>
    <input class="form-control" placeholder="日曜午前中心、本番前は午前午後" [(ngModel)]="recruit.practiceTime" rows="2" name="practice-time">
  </div>

  <div class="field">
    <label>募集楽器</label>
    <ng-select [multiple]="true"
      [items]="appService.ng2selectInstruments"
      (selected)="instrumentSelected($event)"
      (removed)="instrumentRemoved($event)"
      placeholder="募集楽器を選択してください">
    </ng-select>
  </div>

  <div class="field">
    <label>自由欄</label>
    <textarea class="form-control" placeholder="一緒にシューベルトの曲をやりませんか？" [(ngModel)]="recruit.description" rows="5" name="description"></textarea>
  </div>

  <div class="field">
    <label>掲載開始期間</label>
    <!-- TODO スタイル調整 １行表示にするとか -->
    <input type="text" class="form-control" [(ngModel)]="recruit.publishedFrom" rows="2" name="published-from-date"
      bsDatepicker
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
    <timepicker [showMeridian]="false" [(ngModel)]="recruit.publishedFrom" name="published-from-time"></timepicker>
  </div>

  <div class="field">
    <label>掲載終了期間</label>
    <!-- TODO スタイル調整 １行表示にするとか -->
    <input type="text" class="form-control" [(ngModel)]="recruit.publishedTo" rows="2" name="published-to-date"
      bsDatepicker
      [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
    <timepicker [showMeridian]="false" [(ngModel)]="recruit.publishedTo" name="published-to-time"></timepicker>
  </div>
</form>
